<%= form_with model: kitten, html: { class: "flex flex-col gap-2" } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "border border-black" %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.select :age,
                    (1..20),
                    { class: "border border-black" } %>
  </div>

  <div>
    <%= form.label :cuteness %>
    <%= form.select :cuteness,
                    (1..10),
                    { class: "border border-black" } %>
  </div>

  <div>
    <%= form.label :softness %>
    <%= form.select :softness,
                    (1..10),
                    { class: "border border-black" } %>
  </div>

  <div>
    <%= form.submit "Add Kitten", class: "border border-black" %>
  </div>
<% end %>
