<!DOCTYPE html>
<html>
  <head>
    <title>KittensApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
  </head>

  <body class="bg-gray-800 text-slate-100">
    <header class="bg-gray-900 shadow shadow-black font-bold mb-4">
      <a href="/" class="text-teal-200 hover:text-white"><span class="text-4xl p-2">
        <i class="fa-solid fa-cat p-2"></i>
        Kittens API
      </span></a>
    </header>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
